.div-add-defact-box {
    padding-top: 30px;
    padding-bottom: 20px;
}

.div-defact-list{
    margin-top: 20px;
}

.div-wrapper-defact{
    margin-bottom: 6px;
}

.div-defact-title{
    width: 80px;
    padding: 6px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
}

.input-defact-detail{
    width: 200px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #777;
    text-align: center;
}

#div-defact-type{
    width: 170px;
}

.defact-select-bt{
    width: 10px;
    background: white;
    padding: 5px;
    color: dodgerblue;;
    font-size: 16px;
    font-weight: 600;
}

.div-camera-box{
    margin-top: 30px;
}

.div-camera-bt{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

#camera-upload-bt{
    background: white;
    padding: 5px 10px;
    border: 1px solid #777;
}

#div-image-box{
    background: #eee;
    margin: 15px auto;
    width: 250px;
    height: 200px;
}

input[type="submit"]{
    font-size: 19px;
    font-weight: 500;
    background: dodgerblue;;
    color: white;
    padding: 6px 10px;
    border: none;
}

.div-ctype-list{
    padding-top: 10px;
}

.li-type{
    list-style-type: none;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    width: 130px;
    padding: 2px 0px;
    border: 1px solid #ccc;
    margin: 4px auto;
    background: #f2f2f2;
}

.div-hide-ctype-box{
    padding-top: 30px;
    display: none;
}

.div-defact-info-list{
    display: flex;
    padding-left: 10px;
    padding-top: 20px;
}

.div-d-item{
    
}

.div-d-item li{
    list-style-type: none;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    width: 90px;
    padding: 2px 0px;
    border: 1px solid #ccc;
    margin: 4px 5px;
    background: #f2f2f2;
}

#div_user_type_box{
    display: none;
    text-align: center;
    padding-top: 15px;
}

#input_typing{
    font-size: 16px;
    font-weight: 500;
    padding-left: 2px;
    width: 170px;
    height: 30px;
    border: 1px solid #bbb;
}

#submit_type_input{
    vertical-align: top;
    width: 45px;
    height: 34px;
    font-size: 16px;
    font-weight: 500;
    padding: 0px;
    background: dodgerblue;
    color: white;
    border: none;
}

#div_now_info{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
    color: #666;
}