.div-add-defact-box {
    padding-top: 30px;
    padding-bottom: 20px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + div {
    display: inline-block;
    background-color: deepskyblue;
}

.div-defact-list{
    margin-top: 20px;
}

.div-wrapper-defact{
    margin-bottom: 6px;
}

.div-defact-title{
    width: 80px;
    padding: 6px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
}

.div-defact-detail{
    width: 200px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    border-bottom: 1px solid #777;
}

#div-defact-type{
    width: 170px;
}

.defact-select-bt{
    width: 10px;
    background: white;
    padding: 5px;
    color: dodgerblue;
    font-size: 16px;
    font-weight: 600;
}

.div-camera-box{
    margin-top: 30px;
}

.div-camera-bt{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

#camera-upload-bt{
    background: white;
    padding: 5px 10px;
    border: 1px solid #777;
}

#div-image-box{
    background: #eee;
    margin: 15px auto;
    width: 250px;
    height: 200px;
}

input[type="submit"]{
    font-size: 19px;
    font-weight: 500;
    background: dodgerblue;
    color: white;
    padding: 6px 10px;
    border: none;
}