.div-defact-box{
    padding-top: 30px;
}

.div-wrapper-finish{
    float: left;
}

.div-wrapper-finish #span-defact-finish-bt{
    position: absolute;
    margin-top: 7px;
    margin-left: 246px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 2px 5px 4px 5px;
    background: dodgerblue;
    border: none;
    text-align: center;
}

#span-pdf-bt{
    position: absolute;
    margin-top: -25px;
    margin-left: 246px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    padding: 2px 4.5px 4px 4.5px;
    background: #DC6161;
    border: none;
    text-align: center;
}


.div-defact-image-box{
    margin: 10px auto 15px;
    width: 310px;
    height: 300px;
    background: #eee;
    background-size: 310px 300px;
}

li{
    margin-left: -25px;
    list-style-type: none;
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

.hr-line{
    border: 0.5px solid #ddd;
    width: 80%;
}

.div-defact-table-box{
    position: absolute;
    margin-left: 3px;
    margin-top: 173px;
    display: inline-block;
}

.table-defact{
    background: white;
    border-spacing: 0;
}

td{
    font-size: 11px;
/*    text-align: center;*/
    border: 1px solid #ddd;
}

.td-title{
    text-align: center;
    font-weight: 500;
}

form{
    text-align: center;
}

#comment_input{
    border: 1px solid #bbb;
    font-size: 16px;
    font-weight: 500;
    width: 260px;
    height: 30px;
    padding-left: 3px;
}

#add-comment-bt{
    padding: 0px;
    width: 25px;
    font-size: 19px;
    font-weight: 800;
    background: white;
    color: dodgerblue;
    border: none;
}

#hide_defact_id{
    display:none;
}

.div-defact-due-box{
}

.span-due-title{
    background: #DC6373;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 1px 4px;
}

#span_due{
    background: #F8CAD0;
    font-size: 12px;
    font-weight: 500;
    padding: 1px 4px;
    border-radius: 0px 0px 4px 0px;
}

#div_pdf_box{
    display: none;
    background: #eee;
    height: 500px;
    padding-top: 7px;
}

#div_pdf_title{
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin-left: 50px;
}

#div_image_box{
    margin-top: 10px;
    background: #ccc;
    height: 99%;
}

#span_pdf_close{
    padding: 3px 4px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background: crimson;
    float: right;
    margin-right: 5px;
}

.div-comment-bt-box{
    float: right;
    color: #777;
    font-size: 13px;
}

.span-comment-edit-bt{
}

.span-comment-delete-bt{
    color: #F76262;
}

.input-edit{
    font-size: 15px;
    width: 230px;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 3px;
}

.edit-commit-bt{
    background: dodgerblue;
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 4px;
    margin: 5px 3px;
    border: none;
    border-radius: 3px;
}

.iframe-pdf{
    
}