.div-defact-box{
    padding-top: 30px;
}

.div-defact-image-box{
    margin: 10px auto 15px;
    width: 250px;
    height: 250px;
    background: #eee;
}

li{
    margin-left: -40px;
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.hr-line{
    border: 0.5px solid #ccc;
    width: 90%;
}

#comment_input{
    border: 1px solid #bbb;
    font-size: 16px;
    font-weight: 500;
    width: 270px;
    height: 30px;
    padding-left: 3px;
}

#add-comment-bt{
    padding: 0px;
    width: 30px;
    font-size: 19px;
    font-weight: 800;
    background: white;
    color: dodgerblue;
    border: none;
}