.div-defact-box{
    padding-top: 30px;
}

.div-wrapper-add{
    float: left;
}

.div-wrapper-add #span-defact-add-bt{
    position: absolute;
    margin-top: 2px;
    margin-left: 285px;
    font-size: 22px;
    font-weight: 800;
    color: white;
    width: 29px;
    padding-left: 6px;
    height: 35px;
    background: #4bb23a;
    border: none;
    border-radius: 50%;
}

.div-defact-list-box{
    margin-top: 10px;
}

.div-list-title{
    font-size: 20px;
    font-weight: 500;
}

.div-defact-list, .div-end-list{
    padding-top: 7px;
    width: 100%;
    height: 150px;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.div-defact-item{
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #eee;
    border: 1px solid #ccc;
    margin-right: 3px;
}

.div-wrapper-dongho{
    margin-bottom: -5px;
}

#span_defact_dongho{
    font-size: 15px;
    font-weight: 500;
    color: #555;
    padding: 2px 5px;
    border: 1px solid #bbb;
    border-radius: 5px;
}