.div-select-box {
    padding-top: 20px;
    padding-bottom: 20px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + div {
    display: inline-block;
    background-color: deepskyblue;
}

.div-dong-list{
    margin: 15px 0 30px 15px;
}

.div-dong-bt{
    width: 85px;
    height: 50px;
    text-align: center;
    padding-top: 12px;
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    background: #eee;
    margin: 5px 5px 10px 5px;
}

.div-ho-list{
    margin: 15px 0 30px 15px;
}

.div-ho-bt{
    width: 64px;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    display: inline-block;
    background: #eee;
    margin: 3px 3px 6px 3px;
}

#div-ho-box{
    display: none;
}

#span_dong{
    margin-left: 10px;
    font-size: 19px;
    font-weight: 600;
    background-color: cornflowerblue;
    color: white;
    padding: 2px 3px;
}