@import url('./notosans.css');

*{
    cursor: default;
}

span, p, table, hr, input[type="button"], ul{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

input {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
}

input:focus {
    outline: none;
}

input[type="button"] {
    cursor: pointer !important;
}

.div-wrapper-backward {
    margin-top: -30px;
    margin-left: 5px;
    float: left;
}

.div-wrapper-backward #backward-bt {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: #777;
    width: 40px;
    height: 40px;
    padding: 0px 1px 0px 0px;
    background: white;
    border: none;
    border-radius: 50%;
}

.div-view {
    width: 320px;
    margin: 30px auto;
}

.div-title {
    font-size: 25px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

#div_user_info{
    text-align: center;
    padding-top: 2px;
    margin-bottom: -21px;
}

#div_user_info #span_user{
    background-color: #c3e6c7;
    padding: 2px 5px;
    color: #333;
    border-radius: 3px;
    font-size:11px;
    font-weight: 500;
}

.div-logout-wrapper{
    position: absolute;
    margin-left: 130px;
}

#span_logout_bt{
    font-size: 13px;
    font-weight: 500;
    background: dodgerblue;
    color: white;
    padding: 2px 6px;
    border-radius: 2px;
}