.div-defact-box{
    padding-top: 30px;
}

.div-drawing-box{
    position: absolute;
    margin: 0 auto;
    margin-left: 5px;
    margin-top: 20px;
    width: 310px;
    height: 310px;
    background: #eee;
    border: 1px solid #aaa;
}

#div_drawing{
    background-size: 310px;
    background-image: url('/public/resources/drawing/drawing-1.png');
}

.px-point{
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: dodgerblue;
    border: 2px solid white;
    border-radius: 50%;
}

.px-point-title{
    display: inline-block;
    margin-left: -18px;
    margin-top: 17px;
    width: 45px;
    background: white;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -1px;
    padding: 0px 2px;
    text-align: center;
}