<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>베스트웨이</title>
    <link rel="stylesheet" type="text/css" href="css/view_defact_style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/view_defact_style.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/public/script/select_and_route.js" type="text/javascript"></script>
    
    <!--Pixel Loader-->
    <script src="/public/script/drawing_point.js" type="text/javascript"></script>
</head>

<body onload="loadDrawingPoint(); addClickEvent()">
    <div class="div-view">
        <div class="div-defact-box">
           <div class="div-wrapper-backward">
                    <input type="button" id="backward-bt" value="＜" onclick="window.history.back();">
                </div>
            <div class="div-title">
                <span id="span_defact_dong">
                    <%= dong %></span>동 <span id="span_defact_ho"><%= ho %></span>호
            </div>
            
            <div class="div-drawing-box" id="div_drawing">
                <!--Apartment drawing point here-->
            </div>
            
            <p id="xy" style="font-size: 20px; margin-top: 340px;"></p>
            <ul id="point" style="font-size: 20px; color: crimson"></ul>
        </div>
    </div>
    
    <!--temp script for capture x, y-->
    <script>
        var cs = document.getElementById("div_drawing");
        var csXY = document.getElementById("xy");
        var val;
        document.onmousemove = function(e){
            val = e.offsetX + ", " + e.offsetY;
            csXY.innerHTML = '임시 - 개발용 픽셀: '+ val;
        }
        document.onkeypress = function(e){ document.getElementById("point").innerHTML += "<li>"+val;
        }
    </script>
</body></html>
