<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>베스트웨이</title>
    <link rel="stylesheet" type="text/css" href="css/view_defact_style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/view_defact_style.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/public/script/select_and_route.js" type="text/javascript"></script>
    <script src="script/select_and_route.js" type="text/javascript"></script>
</head>

<body>
    <div class="div-view">
        <div class="div-defact-box">
           <div class="div-wrapper-backward">
                    <input type="button" id="backward-bt" value="＜" onclick="window.history.back();">
                </div>
            <div class="div-title">
                <span id="span_defact_dong">
                    <%= dong %></span>동 <span id="span_defact_ho"><%= ho %></span>호
            </div>
            
            <div class="div-drawing-box" onclick="location.href = '/public/list_defact.html'">
                <!--Apartment drawing here-->
            </div>
        </div>
    </div>
</body></html>
